.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.logo{
    font-family: Old English Text MT;
    color: #FFF;
}
.login-bg{
    /*background:  url('../img/login_bg.png') repeat center;*/
    background:   #DDD url('../img/login-bg.jpg') no-repeat fixed center center / cover;
    height: 50% !important;
}
.login-panel-body{
    background:  #FFF;
    width: 360px;
    margin: auto;
    margin-top: 0px;
    margin-right: 10px;
    box-shadow: 5px 5px 30px #555;     
    padding: 20px;
}
.control{
    margin-bottom: 10px;
}
.pos{
    position: fixed;
    top: 280px;
    left: 330px;
    z-index: 1;

}
.pos1{
    position: fixed;
    top: 405px;

}
.shadow {
    box-shadow: 5px 5px 30px #AAA;
}
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
        padding: 2px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
        padding: 2px;
        color: #285e8e;
	margin-top: -24px;
	vertical-align: top;
}
/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/
.filters{
    list-style: none;
    padding: 0;
    margin: 0;
}
.filters li{
    display: inline-block;    
}
.filters li input{
    margin-bottom:  -11px;
}
.srch-btn button{
    margin-top: -5px;
}
.src-area{
    background: #EEE;
    width: 100%;
    text-align: right;
}
.euro-logo{
    margin-bottom: 6px;
}